/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Single Page Website (index.html) (WELOVEIVAN)
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/




/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(200,200,200); */
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

body { padding-right: 5rem;
    background-color: rgba(154,44,48, 0.8);
  }

a {
  color: inherit;
  text-decoration: none;
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-2 { padding: 2%;}
.padded-3 { padding: 3%; }
.padded-5 { padding: 5%; }

.padded-top-1 { padding-top: 1%;}
.padded-top-30px { padding-top: 30px;}

.padded-bot-1 { padding-bottom: 1%;}

.mob-show { display: none;}

.display-none {display: none;}

.bg-img {
  background-image: url('ASSETS/temp-bg.png');
  background-size: cover;
  background-position: center;
}

/* ----- UNIVERSAL STYLES --------------------------- */

.bg-featured{
  background-color: #9f2c30;
  color: #f4f1f1;
}

.bg-dark {
  background-color:#2b2b2b;
  color: #f4f1f1;
}

.bg-light {
  background-color: #2b2b2b;
  color: #f4f1f1;

}

/* - - - - - Gridlex override - - - - -  */
[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}


/* BASICS DELETE LATER */

h1, h2, h3, h4 p {
  font-family: 'Josefin Sans', sans-serif;
}


h1 {
  font-size: 10rem;
  font-family: 'Squada One', cursive;
  text-align: center;
  color: white;]
}

h2 {
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

p {
  font-size: 1rem;
}

section:focus {
  outline: none;
}

/* - - - - - - - - NAVIGATION - - - - - - -  */

/* - - - - - -- -  DESKTOP NAVIGATION - - - -  */
.menu {
  background-color: #9f2c30;
  color: #f4f1f1;
  border-color: #2b2b2b;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  width:5rem;
  transition: all 0.5s ease-in;
}

.nav-menu-active {
  width:20rem;
  background-color: rgba(154,44,48,0.6);
}

.nav-menu-active .fa-rotate-360 {
  transform: rotate(-180deg);
}

.menu i {
  transition: all 0.5s ease-in;
}

/* - - - - - - -  MOBILE NAVIGATION - - - - - - */
.mobile-nav {
  display: none;
}

.dropdown-nav:hover .dropdown-content {
    display: block;
}
/* this is where you style the button if you want to add more space between the spans than add padding to this div but make sure you also add it to the top and bottom active classes on there top/bottom or else your cross wont line up*/
.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 10;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: #9f2c30;
  background-color:#383;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #f4f1f1;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #9f2c30;
  font-family: 'Josefin Sans', sans-serif;
  display:block;
  padding:10px 15px;
  text-align:center;
  white-space:nowrap;
}

/* - - - - - - LISTEN LIVE ICON - - - - - - - */

.ll-but {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  padding: 2%;
  background: rgba(244, 241, 241, 1);
  display: block;
  display: block;
  width: 10%;
  margin: auto;
  margin-top: 20px;
  transition: color 2s;
  position: fixed;
  font-size: .5rem;
  text-shadow: 5px;
  bottom: 2vh;
  right: 15vh;

}

.ll-but:hover{
      background-color: #2b2b2b;
      transition: color 2s;
      color: #f4f1f1;
}


/* - - - - - - - - HEADER - - - - - - - - - */
header {
  padding: 0;
  background-image: url("ASSETS/headerimage.jpg");
  background-size: cover;
  background-posiition: center;
  background-color: rbga (24, 24, 24, 0.5);
}

header i {
  color: white;
  padding: 30px;
}

header a {
  font-size: 2rem;
}



/* - - - - - MENU IS IN THE NAVIGATION - - - - - -  */

.logo {
    margin: auto;
    display: block;
    /* background-color: #2b2b2b; */
    max-height: 35rem;
    image-height:
  }

.logo h3 {
  font-size: 3rem;
  color: #f4f1f1;
  text-align: center;
  font-family:'Squada One', cursive;
}

.listenlive {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5%;
  background: #f2f1f1;
  display: block;
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  transition: color 2s;
}

.listenlive:hover{
      background-color: #9f2c30;
      transition: color 2s;
      color: #f4f1f1;
}

.ListenLive a {
  font-size: 4rem;
  text-shadow: 5px;

}

/* - - - - - - - - - TRIANGLE LINKS - - - - - - - - - -  */
.info {
  background-color: #f4f1f1;
}

.about {
  color: #2b2b2b;
  background-color: #f4f1f1;
  padding: 3rem;
  min-width:40%;
  display:block;
  margin: auto;
  /* margin-top: 20px; */
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.parallax-about {
  /* The image used */
  background-image: url("ASSETS/pexels-photo-1498964.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.trangles h3 {
  padding-botton:1rem;

}

.triangles p {
  font-family:'Josefin Sans', sans-serif;
}
/* - - - - - Schedual - - - - - - - - - */


.what {
  font-family:'Josefin Sans', sans-serif;
  font-size: 1rem;
  padding-left: 30px;
  width:100%;
}

.week {
  padding: 5px;
}

.week h3 {
  background-color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1rem;
}

.week span {
  text-align:center;
}

.times {
  width: 105px;
  display: inline-block;
}

/* - - - - - - - - - PRESENTERS - - - - - - - - - - */

.presenters {
  background-image: url("ASSETS/studioimage.jpg");
  background-size: contain;
  background-position: center;

}


/* - - - - - - - - - - - SQUARES - - - - - - - - - - -  */

.squares{
  min-height: 750px;
  padding-top:
}

.breakfast {
  background-image: url("ASSETS/breakfast.jpg");
  background-size: cover;
  background-position: center;
  /* display: block;
  whitespace: nowrap; */
}

.weather {
  background-image: url("ASSETS/weather.jpg");
  background-size: cover;
  background-position: center;
}

.news {
  background-image: url("ASSETS/news.jpg");
  background-size: cover;
  background-position: center;
}

.lunch {
  background-image: url("ASSETS/lunch.jpg");
  background-size: cover;
  background-position: center;
}
/* - - - - - - - - - - GET INVOLVED - - - - - - - -- - */

.parallax {
  /* The image used */
  background-image: url("ASSETS/getinvolved.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }


  .get-involved {
    /* background-image: url("ASSETS/getinvolved.jpg"); */
    background-size: : cover;
    background-position: center;
    padding: 6rem;
    transition: color 2s;
  }

  .get-involved a {
    color: #2b2b2b;
    background-color: #f4f1f1;
    padding: 3rem;
    min-width:40%;
    display:block;
    margin: auto;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }

  .get-involved:hover{
      background-color: #9f2c30;
      transition: color 2s;
      color: #f4f1f1;
    }

/* - - - - - - - - - - FOOTER - - - - - - - - - - - -  */

*{padding:0;
box-sizing:border-box;
}

.footer {
  background-color: #2b2b2b;
  padding: 2%;
}

.footer h2 {
  color: #f4f1f1;
  font-size: 3rem;
  margin: 1rem;
}

.footer span {
  color: #9f2c30;
}

.footer p {
  color: #f4f1f1;
  font-family:'Josefin Sans', sans-serif;;
}

.full-form {
    padding: 1.5%;
    background-color: #2b2b2b;
    margin: auto;
    min-width:100%;
}
.full-form input {
  padding: 2%;
}

input {border: 1px solid #2b2b2b;}

.contact-name:: placeholder {text-align:center;
}

.contact-but {
  background-color: #9f2c30;
  color: #f4f1f1;
  transition: color 2s;
  width: 100%;
}
.contact-but:hover{
      background-color: #2b2b2b;
      transition: color 2s;
      color: #f4f1f1;
}

.contact-name {
    width: 100%;
}

.contact-email {
    width: 100%;
}

textarea {
  display: block;
  margin: 0 0 10px;
  resize: none;
  width: 100%;
  padding:2%;
}

/* h1{
  color: #b6b6b6;
  text-align: center;
  font-family:helvetica;
  } */

.who {
  width:100%;
}

/* - - - - - - - - - - -  DISCLAIMER SECTION - - - - - - - - - - */
.disclaimer h3 {
  color: #9f2c30;
}

.disclaimer p {
  color: #f4f1f1;
  text-size: 0.3rem;
  font-family: 'Josefin Sans', sans-serif;
}
.disclaimer {
  background-color: #2b2b2b;
  text-align: center;
  padding: 3%;
}

/* - - - - - - - - - MADE BY ME - - - - - - - -  */

.me {
  color: rgba(244, 241, 241, 0.5);
  text-size: 0.2rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align:center;
  padding: 3px;
}

/* - - - - - - MEDIA RULES - - - - - - - - - */

@media(max-width: 576px) {

    /* - - - NAVIGATION - - - */

    .menu {
      display:none;
    }
    .mobile-nav {
      display:block;
    }

    body { padding:0;
    }

    /* - - - STYLES - - - */

    header h1 {
      font-size: 40px;
    }

    header h2 {
      font-size: 20px;
    }

    .mobile-edit {
      order:-1;
    }
    .goodnight h2 {
      line-height: 55px;
    }
    .goodnight {
      background-image: none;
    }

    .week h3 {
      font-size: 0.6rem;
    }

    .what {
      font-size: 1rem;
      padding-left: 10px;
    }

    .times {
      width: 80px;
    }
    /* LISTEN LIVE ICON */

    /* - - - - - - LISTEN LIVE ICON - - - - - - - */

    .ll-but {
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      padding: 2%;
      background: rgba(244, 241, 241, 1);
      display: block;
      display: block;
      width: 17%;
      margin: auto;
      margin-top: 20px;
      transition: color 2s;
      position: fixed;
      font-size: 0.3rem;
      text-shadow: 5px;
      bottom: 2vh;
      right: 2vh;

    }

    .ll-but:hover{
          background-color: #2b2b2b;
          transition: color 2s;
          color: #f4f1f1;
    }




}
